<h1>Mishelle Abendaño</h1>
<div class="card">
  <div class="card-body">
    <form (ngSubmit)="updateProduct()">
      <div class="mb-3">
        <label for="title" class="form-label">Producto</label>
        <input type="text" id="title" [(ngModel)]="selectedProduct.title" name="title" class="form-control">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" id="price" [(ngModel)]="selectedProduct.price" name="price" class="form-control">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea id="description" [(ngModel)]="selectedProduct.description" name="description" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Actualizar</button>
    </form>
  </div>
</div>
<hr>
<div class="table-responsive">
  <table class="table table-success">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let product of products">
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>
          <img src="{{ product.images[0] }}" alt="" width="200px" height="200px">
        </td>
        <td>
          <button class="btn btn-success" (click)="editProduct(product)">Editar</button>
        </td>
        <td>
          <button href="" class="btn btn-dark" (click)="deleteProduct(product.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
